body, div, p, ul, li, h3 { margin: 0; padding: 0; }
body { font-size: 14px; }
ul li { list-style: none; }
img { display: block; }

.time-axis {
	width: calc(100vw - 40px);
	margin: 20px 20px;
}
.wrapper {
	position: relative;
	width: inherit;
	overflow: hidden;
}
.line {
	position: absolute;
	top: 0;
	left: calc(100% / 2 - 5px);
	bottom: 0;
	width: 10px;
	background-color: #ccc;
	box-shadow: inset 0px 0px 7px -2px #000;
}
.line span {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 10px;
	height: 320px;
	background-color: #009ABB;
	transition: all 500ms ease;
}
.list {
	width: 100%;
	overflow: hidden;
}
.item {
	position: relative;
	height: auto;
	margin-bottom: 50px;
	overflow: hidden;
}
.item .text {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(((100% - 40px) / 2) - 90px); 
	padding: 40px 28px;
	background-color: rgba(238, 238, 238, 0.25);
	border-radius: 8px;
	border-bottom: 3px solid #009ABB;
	box-sizing: border-box;
}
.item .text h3 {
	font-size: 26px;
	line-height: 1.4;

}
.item .text p {
	text-indent: 24px;
	font-size: 16px;
	line-height: 1.4;
	margin-top: 10px;
}
.item .icon {
	display: inline-block;
	margin-left: calc(((100% - 40px) / 2) - 28px);
	width: 80px;
	height: 80px;
	line-height: 80px;
	font-style: normal;
	font-size: 40px;
	text-align: center;
	color: white;
	background-color: #00313C;
	border: 6px solid #009ABB;
	border-radius: 50%;
}
.item .img {
	float: right;
	width: calc(((100% - 40px) / 2) - 90px); 
}
.item .img img {
	width: 100%;
	height: auto;
}


.item:nth-child(even) .text {
	position: static;
	float: right;
}
.item:nth-child(even) .img {
	float: none;
	position: absolute;
	left: 0;
	top: 0;
} 